<a href="https://colab.research.google.com/github/SahanaSwamy/Music-Genre-Recognition/blob/master/newsong.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**This notebook is used to enter a song for the song popularity prediction model**

In [ ]:
##mounting the google drive
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive

In [ ]:
##setting the current path
%cd /gdrive/My\ Drive

/gdrive/My Drive

##IMPORTING LIBRARIES

In [ ]:

## Import Libraries

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pickle
from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score, GridSearchCV
from sklearn.model_selection import KFold
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
import copy
import warnings
from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import roc_auc_score


## Suppress warnings on console
warnings.filterwarnings("default", category=DeprecationWarning)

In [ ]:
##read the input file
input_file = pd.read_csv('sample.csv')

In [ ]:
##shuffle the dataframe
input_file = input_file.sample(frac=1)
input_file.head()

   acousticness  ... artist_followers
0         0.685  ...            15875

[1 rows x 24 columns]

In [ ]:
## Dropping fields (strings/objects)
## the drop_list is 'analysis_url','track_id', 'track_href', 'type', 'uri', 'artist_name', 'track_name', 'key', 'mode', 'time_signature', 'popularity'

drop_list = ['analysis_url','track_id', 'track_href', 'type', 'uri', 
             'artist_name', 'track_name', 'time_signature', 'popularity']

             
train = input_file.drop(drop_list, axis = 1)

train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 0 to 0
Data columns (total 15 columns):
acousticness         1 non-null float64
danceability         1 non-null float64
duration_ms          1 non-null int64
energy               1 non-null float64
instrumentalness     1 non-null int64
key                  1 non-null int64
liveness             1 non-null float64
loudness             1 non-null float64
mode                 1 non-null int64
speechiness          1 non-null float64
tempo                1 non-null float64
valence              1 non-null float64
bbhot                1 non-null int64
artist_popularity    1 non-null int64
artist_followers     1 non-null int64
dtypes: float64(8), int64(7)
memory usage: 128.0 bytes

In [ ]:
input_file.head()

   acousticness  ... artist_followers
0         0.685  ...            15875

[1 rows x 24 columns]

In [ ]:
input_file.describe()

       acousticness  danceability  ...  artist_popularity  artist_followers
count         1.000          1.00  ...                1.0               1.0
mean          0.685          0.42  ...               65.0           15875.0
std             NaN           NaN  ...                NaN               NaN
min           0.685          0.42  ...               65.0           15875.0
25%           0.685          0.42  ...               65.0           15875.0
50%           0.685          0.42  ...               65.0           15875.0
75%           0.685          0.42  ...               65.0           15875.0
max           0.685          0.42  ...               65.0           15875.0

[8 rows x 17 columns]

In [ ]:
## Making a copy of dataframe target variable and assigning it to Y
Y = copy.deepcopy(train.bbhot)
Y.shape

(1,)

In [ ]:
## Dropping the target attribute and making new dataframe

train_1 = train.drop("bbhot", axis=1)
train_1.head()

   acousticness  danceability  ...  artist_popularity  artist_followers
0         0.685          0.42  ...                 65             15875

[1 rows x 14 columns]

In [ ]:
##we are loading the scaler1 pickle object from randomforest.ipynb

import pickle
with open(r"scaler1.pickle", "rb") as input_file:
  scaler1 = pickle.load(input_file)

In [ ]:
##transforming the input
scaled_features = scaler1.transform(train_1)

In [ ]:
df_feat = pd.DataFrame(scaled_features,columns=train_1.columns)
df_feat.head()

   acousticness  danceability  ...  artist_popularity  artist_followers
0       0.68775      0.432099  ...               0.65          0.000363

[1 rows x 14 columns]

In [ ]:
df_feat.describe()

       acousticness  danceability  ...  artist_popularity  artist_followers
count       1.00000      1.000000  ...               1.00          1.000000
mean        0.68775      0.432099  ...               0.65          0.000363
std             NaN           NaN  ...                NaN               NaN
min         0.68775      0.432099  ...               0.65          0.000363
25%         0.68775      0.432099  ...               0.65          0.000363
50%         0.68775      0.432099  ...               0.65          0.000363
75%         0.68775      0.432099  ...               0.65          0.000363
max         0.68775      0.432099  ...               0.65          0.000363

[8 rows x 14 columns]

##**Importing the model and predicting the output**

In [ ]:
##loading the model pickle object
import pickle
with open(r"rf.pickle", "rb") as input_file:
  rf = pickle.load(input_file)

In [ ]:
rf.predict(df_feat)

array([1])

In [ ]:
rf.score(df_feat, Y)

1.0

In [ ]:
##predicting the non hit and hit
predictions = rf.predict_proba(df_feat)

In [ ]:
predictions[0]

array([0.18333333, 0.81666667])

In [ ]:
print("The probablity of the new song being a non-hit and hit is" ,predictions)

The probablity of the new song being a non-hit and hit is [[0.18333333 0.81666667]]